.DS_Store
Thumbs.db

.vscode/
.history/

.idea/
*.iml

__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

build/
install/
log/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

*.tmp
*.bak
*.swp
*.swo
*~

*.zip
*.7z
*.rar
*.tar
*.gz

*.log

*.lck

.env

*.DS_Store
*.pyc
**/__pycache__
dingo_ws/build/*
dingo_ws/devel/*
dingo_ws/logs/*
dingo_ws/.catkin_tools/*
dingo_ws/.vscode/*
.vscode/*
dingo_ws/src/.vscode/*